.container {
    padding: 14px;
}

.card {
    width: 100%;
}

.cardContent {
    padding-top: 6px!important;
}

.list {
    margin: 0px;
    list-style-type: none;
    margin-left: -44px;
}

.gameInfo {
    font-size: 10;
}

.header {
    padding-bottom: 0px!important;
}